.status_widget {
	.sw-blog-title {
		border-bottom: 1px solid #ddd;
		font-weight: 700;
		text-transform: uppercase;
	}

	.sw-blog-title:not( :first-child ) {
		margin-top: 20px;
	}

	div {
		line-height: 2.4em;
	}
}